services:
  ctfd:
    build: .
    user: root
    restart: always
    env_file: .env
    environment:
      - REDIS_URL=redis://redis:6379
      - CACHE_TYPE=redis
    volumes:
      - .data/CTFd/logs:/var/log/CTFd
      - .data/CTFd/uploads:/var/uploads
      - .:/opt/CTFd:rw
    depends_on:
      - redis

  nginx:
    image: nginx:stable
    restart: always
    volumes:
      - ./conf/nginx/http.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
    depends_on:
      - ctfd

  redis:
    image: redis:4
    restart: always
    volumes:
      - .data/redis:/data